import("graphics", "stats", "strucchange", "zoo", "raster")

export(
  "bfast",
  "bfastmonitor",
  "bfastpp",
  "bfastts",
  "bfast01"
)

S3method("plot", "bfast")
S3method("print", "bfast")
S3method("plot", "bfastmonitor")
S3method("print", "bfastmonitor")
S3method("plot", "bfast01")
#S3method("print", "bfast01")

